/* Changes made to the copy of this file in the same folder as generate_site.py
will not be automatically carried over to the copy in the site folder if it
already exists there. */

.title {
    text-align: left;
    font-size: 40px;
}
html body {
    background-color: #eeeeee00;
}
header {
    background-color: rgb(87, 86, 86);
    overflow: hidden;
}
nav {
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
}
nav a {
    color: skyblue;
    text-decoration: none;
}
nav ul a {
    padding-left: 25px;
}
nav ul {
    list-style-type: none;
}
nav li {
    float: right;
}
main {
    margin: 30px;
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
}
footer {
    margin: 50px;
}
h1 {
    padding-bottom: 3%;
}
code {
    background-color: rgb(231, 231, 231);
    padding: 2px;
}
.highlight-source-cpp {
    background-color: rgb(231, 231, 231);
    padding: 5px;
}
